<div class="container-fluid">
    <div class="modal-header">
        <h2 class="modal-title"> Horario Sala {{data.idSelected}}</h2>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs">
            <li class="active noround">
                <a data-toggle="pill" href="#lunes">Lunes</a>
            </li>
            <li class="noround">
                <a data-toggle="pill" href="#martes">Martes</a>
            </li>
            <li class="noround">
                <a data-toggle="pill" href="#miercoles">Miércoles</a>
            </li>
            <li class="noround">
                <a data-toggle="pill" href="#jueves">Jueves</a>
            </li>
            <li class="noround">
                <a data-toggle="pill" href="#viernes">Viernes</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="lunes" class="tab-pane fade in active">
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr class="table-head">
                        <th class="col-md-2">Hora</th>
                        <th class="col-md-9">Actividad</th>
                        <th class="col-md-1">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">8:00 - 9:00</th>
                        <td>Algoritmica grafurilor</td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">9:00 - 10:00</th>
                        <td>
                            <div class="form-group ">
                                <input type="text" class="form-control"
                                       placeholder="Con javascript mostrar esto al darle a 'Nueva'">
                            </div>

                        </td>
                        <td>
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                Añadir
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">10:00 - 11:00</th>
                        <td>Limbaje formale, automate si compilatoare</td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">11:00 - 12:00</th>
                        <td>Limbaje formale, automate si compilatoare</td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">12:00 - 13:00</th>
                        <td>Limbaje formale, automate si compilatoare</td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">13:00 - 14:00</th>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Nueva
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">14:00 - 15:00</th>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Nueva
                            </button>
                        </td>
                    </tr>


                    <tr>
                        <th scope="row">15:00 - 16:00</th>

                        <td>Algoritmica grafurilor</td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">16:00 - 17:00</th>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Nueva
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">17:00 - 18:00</th>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Nueva
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">18:00 - 19:00</th>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Nueva
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">19:00 - 20:00</th>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Nueva
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">20:00 - 21:00</th>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Nueva
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="martes" class="tab-pane fade">
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr class="table-head">
                        <th class="col-md-2">Hora</th>
                        <th class="col-md-9">Actividad</th>
                        <th class="col-md-1">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">8:00 - 9:00</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       placeholder="Introduce el nombre de la actividad">
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                Añadir
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">9:00 - 10:00</th>
                        <td>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Nueva
                            </button>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
            <div id="miercoles" class="tab-pane fade">
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr class="table-head">
                        <th class="col-md-2">Hora de inicio</th>
                        <th class="col-md-2">Hora de fin</th>
                        <th class="col-md-7">Actividad</th>
                        <th class="col-md-1">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">15:00</th>
                        <td>16:00</td>
                        <td>Algoritmica grafurilor</td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="jueves" class="tab-pane fade">
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr class="table-head">
                        <th class="col-md-2">Hora de inicio</th>
                        <th class="col-md-2">Hora de fin</th>
                        <th class="col-md-7">Actividad</th>
                        <th class="col-md-1">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div id="viernes" class="tab-pane fade">
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr class="table-head">
                        <th class="col-md-2">Hora de inicio</th>
                        <th class="col-md-2">Hora de fin</th>
                        <th class="col-md-7">Actividad</th>
                        <th class="col-md-1">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>






