<div style="margin-top: 70px">
    <div class="row" style="margin-left:20px; margin-bottom: 20px; ">
        <div class="col-md-5">
            <div ng-if="userType == 'Basico'">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="switchIncidenciasGeneralesActive()">
                        <h2>Incidencias</h2>
                    </div>
                    <div ng-show="incidenciasGeneralesActive" class="panel-body">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr class="table-head">
                                <th class="col-md-10">Nombre</th>
                                <th class="col-md-1">Ver</th>
                                <th class="col-md-1">Centrar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="incidencia in incidenciasActivas">
                                <th scope="row">{{incidencia.titulo}}</th>
                                <td><button ng-click="verIncidencia(incidencia)" class="btn btn-primary">Ver</button></td>
                                <td><button ng-click="centrarIncidencia(incidencia)" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="switchMisIncidenciasActive()">
                        <h2>Mis incidencias</h2>
                    </div>
                    <div ng-show="misIncidenciasActive" class="panel-body" style="max-height: 600px;overflow-y: scroll;">
                        <div class="panel panel-primary">
                            <div class="panel-heading" ng-click="incidenciasUserBasico.estado = 'creadas'">
                                <h4>Creadas </h4>
                            </div>
                            <div class="panel-body" ng-show="incidenciasUserBasico.estado == 'creadas'">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="table-head">
                                        <th class="col-md-9">Nombre</th>
                                        <th class="col-md-1">Ver</th>
                                        <th class="col-md-1">Editar</th>
                                        <th class="col-md-1">Centrar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incidencia in incidenciasUserBasico.creadas">
                                        <th scope="row">{{incidencia.titulo}}</th>
                                        <td><button ng-click="verIncidencia(incidencia)" class="btn btn-primary">Ver</button></td>
                                        <td><button ng-click="editarIncidencia(incidencia)" class="btn btn-primary">Editar</button></td>
                                        <td><button ng-click="centrarIncidencia(incidencia)" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading" ng-click="incidenciasUserBasico.estado = 'aceptadas'">
                                <h4>Activas</h4>
                            </div>
                            <div class="panel-body" ng-show="incidenciasUserBasico.estado == 'aceptadas'">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="table-head">
                                        <th class="col-md-10">Nombre</th>
                                        <th class="col-md-1">Ver</th>
                                        <th class="col-md-1">Centrar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incidencia in incidenciasUserBasico.aceptadas">
                                        <th scope="row">{{incidencia.titulo}}</th>
                                        <td><button ng-click="verIncidencia(incidencia)" class="btn btn-primary">Ver</button></td>
                                        <td><button ng-click="centrarIncidencia(incidencia)" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div  class="panel panel-warning">
                            <div class="panel-heading" ng-click="incidenciasUserBasico.estado = 'modificar'">
                                <h4>Pendientes de modificación</h4>
                            </div>
                            <div class="panel-body" ng-show="incidenciasUserBasico.estado == 'modificar'">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="table-head">
                                        <th class="col-md-9">Nombre</th>
                                        <th class="col-md-1">Ver</th>
                                        <th class="col-md-1">Editar</th>
                                        <th class="col-md-1">Centrar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incidencia in incidenciasUserBasico.modificacion">
                                        <th scope="row">{{incidencia.titulo}}</th>
                                        <td><button ng-click="verIncidencia(incidencia)" class="btn btn-primary">Ver</button></td>
                                        <td><button ng-click="editarIncidenciaIncompleta(incidencia)" class="btn btn-primary">Editar</button></td>
                                        <td><button ng-click="centrarIncidencia(incidencia)" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading" ng-click="incidenciasUserBasico.estado = 'finalizadas'">
                                <h4>Finalizadas</h4>
                            </div>
                            <div class="panel-body" ng-show="incidenciasUserBasico.estado == 'finalizadas'">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="table-head">
                                        <th class="col-md-10">Nombre</th>
                                        <th class="col-md-1">Ver</th>
                                        <th class="col-md-1">Centrar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incidencia in incidenciasUserBasico.completadas">
                                        <th scope="row">{{incidencia.titulo}}</th>
                                        <td><button ng-click="verIncidencia(incidencia)" class="btn btn-primary">Ver</button></td>
                                        <td><button ng-click="centrarIncidencia(incidencia)" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div  class="panel panel-danger">
                            <div class="panel-heading" ng-click="incidenciasUserBasico.estado = 'rechazadas'">
                                <h4>Rechazadas</h4>
                            </div>
                            <div class="panel-body" ng-show="incidenciasUserBasico.estado == 'rechazadas'">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="table-head">
                                        <th class="col-md-10">Nombre</th>
                                        <th class="col-md-1">Ver</th>
                                        <th class="col-md-1">Centrar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incidencia in incidenciasUserBasico.rechazadas">
                                        <th scope="row">{{incidencia.titulo}}</th>
                                        <td><button ng-click="verIncidencia(incidencia)" class="btn btn-primary">Ver</button></td>
                                        <td><button ng-click="centrarIncidencia(incidencia)" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="switchBusquedaActive()">
                        <h2>Búsqueda de espacios</h2>
                    </div>
                    <div ng-show="busquedaActive" class="panel-body" style="max-height: 600px;overflow-y: scroll;">
                        <div ng-if="errorEnBusqueda" class="alert alert-danger feedbackMessages">
                            <strong>&#10008</strong> {{msgErrorBusqueda}}
                        </div>
                        <label>Identificador del espacio:</label>
                        <input type="text" class="form-control" ng-click="hideErrorBusquedaMessage()" ng-model="idEspacioBusqueda">
                        <button ng-click="buscarEspacio(idEspacioBusqueda)" style="margin-top: 10px;" class="btn btn-primary">Buscar espacio</button>
                    </div>
                </div>
            </div>
            <div ng-if="userType == 'Administrador'">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="switchAdministrarIncidenciasActive()">
                        <h2>Administración de incidencias</h2>
                    </div>
                    <div ng-show="administrarIncidenciasActive" class="panel-body" style="max-height: 600px;overflow-y: scroll;">
                        <div class="panel panel-primary">
                            <div class="panel-heading" ng-click="allIncidencias.estado = 'creadas'">
                                <h4>Creadas </h4>
                            </div>
                            <div class="panel-body" ng-show="allIncidencias.estado == 'creadas'">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="table-head">
                                        <th class="col-md-7">Nombre</th>
                                        <th class="col-md-1">Ver</th>
                                        <th class="col-md-1">Aceptar</th>
                                        <th class="col-md-1">Incompleta</th>
                                        <th class="col-md-1">Rechazar</th>
                                        <th class="col-md-1">Centrar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incidencia in allIncidencias.creadas">
                                        <th scope="row">{{incidencia.titulo}}</th>
                                        <td><button ng-click="verIncidencia(incidencia)" class="btn btn-primary">Ver</button></td>
                                        <td><button ng-click="aceptarIncidencia(incidencia)" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button></td>
                                        <td><button ng-click="pedirModificarIncidencia(incidencia)" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button></td>
                                        <td><button ng-click="rechazarIncidencia(incidencia)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
                                        <td><button ng-click="centrarIncidencia(incidencia)" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading" ng-click="allIncidencias.estado = 'aceptadas'">
                                <h4>Activas</h4>
                            </div>
                            <div class="panel-body" ng-show="allIncidencias.estado == 'aceptadas'">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="table-head">
                                        <th class="col-md-10">Nombre</th>
                                        <th class="col-md-1">Ver</th>
                                        <th class="col-md-1">Centrar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incidencia in allIncidencias.aceptadas">
                                        <th scope="row">{{incidencia.titulo}}</th>
                                        <td><button ng-click="verIncidencia(incidencia)" class="btn btn-primary">Ver</button></td>
                                        <td><button ng-click="centrarIncidencia(incidencia)" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="switchBusquedaActive()">
                        <h2>Búsqueda de espacios</h2>
                    </div>
                    <div ng-show="busquedaActive" class="panel-body" style="max-height: 600px;overflow-y: scroll;">
                        <div ng-if="errorEnBusqueda" class="alert alert-danger feedbackMessages">
                            <strong>&#10008</strong> {{msgErrorBusqueda}}
                        </div>
                        <label>Identificador del espacio:</label>
                        <input type="text" class="form-control" ng-click="hideErrorBusquedaMessage()" ng-model="idEspacioBusqueda">
                        <button ng-click="buscarEspacio(idEspacioBusqueda)" style="margin-top: 10px;" class="btn btn-primary">Buscar espacio</button>
                    </div>
                </div>
            </div>
            <div ng-if="userType == 'Mantenimiento'">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="switchIncidenciasGeneralesMantenimientoActive()">
                        <h2>Incidencias</h2>
                    </div>
                    <div ng-show="mantenimientoGeneralesActive" class="panel-body">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr class="table-head">
                                <th class="col-md-9">Nombre</th>
                                <th class="col-md-1">Ver</th>
                                <th class="col-md-1">Asignar</th>
                                <th class="col-md-1">Centrar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="incidencia in incidenciasActivas">
                                <th scope="row">{{incidencia.titulo}}</th>
                                <td><button ng-click="verIncidencia(incidencia)" class="btn btn-primary">Ver</button></td>
                                <td><button ng-click="asignarIncidencia(incidencia)" class="btn btn-primary">Asignar</button></td>
                                <td><button ng-click="centrarIncidencia(incidencia)" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="switchIncidenciasAsignadasMantenimientoActive()">
                        <h2>Mis incidencias asignadas</h2>
                    </div>
                    <div ng-show="mantenimientoAsignadasActive" class="panel-body" style="max-height: 600px;overflow-y: scroll;">
                        <div class="panel panel-primary">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr class="table-head">
                                    <th class="col-md-8">Nombre</th>
                                    <th class="col-md-1">Ver</th>
                                    <th class="col-md-1">Desasignar</th>
                                    <th class="col-md-1">Finalizar</th>
                                    <th class="col-md-1">Centrar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="incidencia in incidenciasAsignadas">
                                    <th scope="row">{{incidencia.titulo}}</th>
                                    <td><button ng-click="verIncidencia(incidencia)" class="btn btn-primary">Ver</button></td>
                                    <td><button ng-click="desasignarIncidencia(incidencia)" class="btn btn-danger">Desasignar</button></td>
                                    <td><button ng-click="finalizarIncidencia(incidencia)" class="btn btn-success">Finalizar</button></td>
                                    <td><button ng-click="centrarIncidencia(incidencia)" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="switchBusquedaActive()">
                        <h2>Búsqueda de espacios</h2>
                    </div>
                    <div ng-show="busquedaActive" class="panel-body" style="max-height: 600px;overflow-y: scroll;">
                        <div ng-if="errorEnBusqueda" class="alert alert-danger feedbackMessages">
                            <strong>&#10008</strong> {{msgErrorBusqueda}}
                        </div>
                        <label>Identificador del espacio:</label>
                        <input type="text" class="form-control" ng-click="hideErrorBusquedaMessage()" ng-model="idEspacioBusqueda">
                        <button ng-click="buscarEspacio(idEspacioBusqueda)" style="margin-top: 10px;" class="btn btn-primary">Buscar espacio</button>
                    </div>
                </div>
                <button ng-click="verPlanDeTrabajo()" class="btn btn-primary">Ver plan de trabajo</button>
            </div>
        </div>
        <div class="col-md-6">
            <leaflet layers="layers" markers="data.markers" control="controls" lf-center="cps" event-broadcast="events" style="height: 80vh;width: 100vh"></leaflet>
            <button class="btn btn-primary" ng-click="subirPlanta()"> Subir planta </button>
            <button class="btn btn-primary" ng-click="bajarPlanta()"> Bajar planta </button>
            <button class="btn btn-primary" ng-click="centrar()"> Centrar </button>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
