<!--menu -->
<nav class="navbar navbar-inverse navbar-fixed-top theme-color-strong">
    <div class="container-fluid">
        <!-- collapsed NavBar-->
        <div class="navbar-header">
            <!-- Right button collapsed-->
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#myNavbar">
                <!-- collapsed button bars -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" rel="home" id="hombeButton">
                Smart EINA
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavBar" style="color:white;">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="logged()" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</li>
            </ul>
        </div>
    </div>
</nav>